.location {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6000;
    pointer-events: none;
}

.location-panel {
    pointer-events: auto;
    position: relative;
    background-color: hsl(var(--color-bg));
    padding: var(--space-6) var(--padding-sides) var(--space-4);
    border-top-right-radius: var(--radius-lg);
    border-top-left-radius: var(--radius-lg);
    box-shadow: var(--shadow);
    transition: transform var(--transition-base);
    will-change: transform;
    touch-action: none;
    cursor: grab;
}

.location-panel--minimized {
    transform: translateY(80%);
}

.location-panel__drag {
    position: absolute;
    top: var(--space-2);
    left: 50%;
    transform: translateX(-50%);
    width: var(--space-12);
    height: var(--space-1);
    background-color: hsl(var(--color-muted) / 0.4);
    border-radius: var(--radius-full);
}

.location__image {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.location__image {
    border-radius: var(--radius-md);
}

.location-nav {
    pointer-events: auto;
    background-color: hsl(var(--color-bg-accent));
    padding: var(--space-2) var(--padding-sides);
    z-index: 6001;
}

.location-nav__button {
    --button-color-fg: var(--color-secondary);

    background-color: transparent;
    color: hsl(var(--button-color-fg));
    fill: hsl(var(--button-color-fg));
    border: none;
    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    line-height: 1;
    height: var(--space-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-1);
    text-align: center;
    cursor: pointer;
}

.location-nav__button-svg-container {
    width: var(--space-16);
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    transition:
        background-color var(--transition-fast),
        color var(--transition-fast);
}

.location-nav__button--disabled {
    --button-color-fg: var(--color-muted) / 0.4;
    cursor: default;
}

.location-nav__button:not(.location-nav__button--disabled):hover,
.location-nav__button--active {
    font-weight: 700;
}

.location-nav__button:not(.location-nav__button--disabled):hover .location-nav__button-svg-container,
.location-nav__button--active .location-nav__button-svg-container {
    background-color: hsl(var(--color-ternary));
}
